@model SistemaFesta.Models.Tema

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Remover Tema</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/balao.ico" rel="shortcut icon" />

    <!-- Bootstrap CSS File -->
    <link href="~/Content/Page_Bootstrap/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/Page_Bootstrap/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/Page_Bootstrap/css/style.css" rel="stylesheet">
    <link href="~/Content/ViewCss/Tema/removertema.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!--/ Nav Star /-->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll" href="#page-top">Escolha Tema</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                    aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link js-scroll" href="/Tema/ListarTemasParaPessoaJuridica">Temas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="/PessoaJuridica/PerfilPessoaJuridica">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="/Login/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ Nav End /-->
    <div class="container card shadow mb-4 corpo">

        <h3>Você tem certeza que deseja remover este tema?</h3><hr />

        <div class="container-fluid">

            <div class="container-fluid nomeTema">
                <b>@Html.DisplayFor(tema => tema.Nome)</b>
            </div>

            <div id="mostra-imagem">
                <img id="imagem" src="@Model.Imagem" alt="@Model.Nome image" class="img-thumbnail" />
            </div><br />

            <div class="container-fluid">
                <b>@Html.LabelFor(tema => tema.Descricao, "Descrição:")</b>
                @Html.DisplayFor(tema => tema.Descricao)
            </div><hr />

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color container">
                <a href="/Tema/ListarTemasParaPessoaJuridica/@Model.PessoaJuridicaId" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Remover Tema" class="btn btn-danger botao-excluir-tema" />
            </div>
        }

    </div>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    <script src="~/Content/Page_Bootstrap/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/popper/popper.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/easing/easing.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/counterup/jquery.counterup.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/Content/Page_Bootstrap/contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="~/Content/Page_Bootstrap/js/main.js"></script>

</body>
</html>
